{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container">
        <h2 data-aos="fade-up" data-aos-delay="100">Learning Today,<br>Leading Tomorrow</h2>
        <p data-aos="fade-up" data-aos-delay="200">We are team of talented Tech Gurus making websites and Android Applications using different programming languages</p>
        <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
          <a href="courses.html" class="btn-get-started">Get Started</a>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
            <h3>About ENO AFRICA</h3>
            <p class="fst-italic">
              Welcome to ENO AFRICA – a technology company dedicated to driving digital transformation across Africa. Founded in [Year], ENO AFRICA is committed to bringing innovative solutions that empower businesses, governments, and communities to thrive in the digital age.

At ENO AFRICA, we understand the unique challenges and opportunities facing the African continent. Our mission is to leverage technology to solve real-world problems, enhance operational efficiency, and unlock new possibilities for growth. We believe that by making technology more accessible, we can create lasting impact and contribute to Africa’s economic development.

Our diverse team of experts is passionate about designing and delivering scalable, sustainable solutions that cater to the evolving needs of businesses and organizations across various sectors. From startups to large enterprises, we work closely with our clients to ensure our products and services drive success, efficiency, and innovation. We Offer:::
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Custom Software Development
Tailored software solutions to help you streamline operations, improve efficiency, and drive innovation.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Cloud Computing Solutions
Scalable and secure cloud services that enable flexibility, cost savings, and improved collaboration.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>AI & Machine Learning Solutions
Cutting-edge AI and ML technologies to help businesses make data-driven decisions and automate processes.</span></li>
            </ul>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Counts Section -->
    <section id="counts" class="section counts light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">


            {% for count in counts %}

                 <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="{{ count.number }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>{{ count.countname}}</p>
            </div>
          </div>
            {% endfor %}
<!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Counts Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="section why-us">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Why Choose Our Products?</h3>
              <p>
                At ENO AFRICA, we deliver innovative, reliable, and scalable technology solutions tailored specifically for the African market. Our products are designed to address local challenges while incorporating the latest global advancements, ensuring your business stays ahead of the curve. With a focus on performance, security, and user-friendly design, our solutions are cost-effective and built to grow with your business. We combine local expertise with global best practices, offering unmatched support and ensuring that every product we provide not only meets but exceeds your expectations. Choose ENO AFRICA for solutions that drive efficiency, foster growth, and create lasting impact. </p>
              <div class="text-center">
                <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
                {% for whyUs in  whyUs %}
<div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="{{ whyUs.icon}}"></i>
                  <h4>{{ whyUs.heading}}</h4>
                  <p>{{ whyUs.description}}</p>
                </div>
              </div><!-- End Icon Box -->
                {% endfor %}
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">
            {% for feature in feature  %}
                 <div class="row gy-4">

          <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="features-item">
              <i class="{{ feature.icon}}" style="color: #ffbb2c;"></i>
              <h3><a href="" class="stretched-link">{{ feature.heading}}</a></h3>
            </div>
          </div>
            {% endfor %}
<!-- End Feature Item -->

        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Courses Section -->
    <section id="courses" class="courses section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Courses</h2>
        <p>Popular Courses</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

            {% for course in  course %}
            	<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="/media/{{ course.image }}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">{{ course.category}}</p>
                  <p class="price">{{course.price}}</p>
                </div>

                <h3><a href="/course-details/">{{ course.course_details}}</a></h3>
                <p class="description">{{ course.description}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="/media/{{ course.trainer_profile }}" class="img-fluid" alt="">
                    <a href="" class="trainer-link">{{ course.trainer_link }}</a>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>{{ course.user_rank }}
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;{{ course.heart_icon_rank }}
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}


             <!-- End Course Item-->


        </div>

      </div>

    </section><!-- /Courses Section -->

    <!-- Trainers Index Section -->
    <section id="trainers-index" class="section trainers-index">

      <div class="container">

        <div class="row">
{#...............................#}
            {% for team in team %}
            	<div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="/media/{{ team.image }}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>{{ team.heading}}</h4>
                <span>{{ team.span_heading }}</span>
                <p>{{ team.description }}</p>
                <div class="social">
                  <a href=""><i class="{{ team.twitter_link}}"></i></a>
                  <a href=""><i class="{{ team.facebook_link}}"></i></a>
                  <a href=""><i class="{{ team.instagram_link}}"></i></a>
                  <a href=""><i class="{{ team.linkedin_link}}"></i></a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}

          <!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Trainers Index Section -->

  </main>

{% endblock %}

